/* GTK NAMED COLORS
   ----------------
   use responsibly! */

/* Sass thinks we're using the colors in the variables as strings and may shoot */
/* warning, it's innocuous and can be defeated by using a variable interpolation. */

/* These are the colors apps can override. We define the defaults here and */
/* define variables for them in _colors.scss */

/* destructive-action buttons */
@define-color destructive_bg_color #e65050;
@define-color destructive_fg_color #ffffff;

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_bg_color #86b300;
@define-color success_fg_color #ffffff;

@define-color warning_bg_color #eba400;
@define-color warning_fg_color #5c6166;

@define-color error_bg_color #e65050;
@define-color error_fg_color #ffffff;

@define-color accent_color oklab(from @accent_bg_color min(l, 0.5) a b);
@define-color destructive_color oklab(from @destructive_bg_color min(l, 0.5) a b);
@define-color success_color oklab(from @success_bg_color min(l, 0.5) a b);
@define-color warning_color oklab(from @warning_bg_color min(l, 0.5) a b);
@define-color error_color oklab(from @error_bg_color min(l, 0.5) a b);

/* Window */
@define-color window_bg_color #f8f9fa;
@define-color window_fg_color #5c6166;

/* Views - e.g. text view or tree view */
@define-color view_bg_color #ffffff;
@define-color view_fg_color #5c6166;

/* Header bar, search bar, tab bar */
@define-color headerbar_bg_color #ffffff;
@define-color headerbar_fg_color #5c6166;
@define-color headerbar_border_color #5c6166;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(107, 125, 143, 0.12);
@define-color headerbar_darker_shade_color rgba(107, 125, 143, 0.12);

/* Split pane views */
@define-color sidebar_bg_color #ebeef0;
@define-color sidebar_fg_color #5c6166;
@define-color sidebar_backdrop_color #f8f9fa;
@define-color sidebar_shade_color rgba(107, 125, 143, 0.07);
@define-color sidebar_border_color rgba(107, 125, 143, 0.07);

@define-color secondary_sidebar_bg_color #fafafa;
@define-color secondary_sidebar_fg_color #5c6166;
@define-color secondary_sidebar_backdrop_color #fcfcfc;
@define-color secondary_sidebar_shade_color rgba(107, 125, 143, 0.07);
@define-color secondary_sidebar_border_color rgba(107, 125, 143, 0.07);

/* Cards, boxed lists */
@define-color card_bg_color #ffffff;
@define-color card_fg_color #5c6166;
@define-color card_shade_color rgba(107, 125, 143, 0.07);

/* Dialogs */
@define-color dialog_bg_color #f8f9fa;
@define-color dialog_fg_color #5c6166;

/* Popovers */
@define-color popover_bg_color #ffffff;
@define-color popover_fg_color #5c6166;
@define-color popover_shade_color rgba(107, 125, 143, 0.07);

/* Thumbnails */
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color #5c6166;

/* Miscellaneous */
@define-color shade_color rgba(107, 125, 143, 0.07);
@define-color scrollbar_outline_color #ffffff;

@media (prefers-color-scheme: dark) {
  @define-color destructive_bg_color #f07171;
  @define-color success_bg_color #6cbf43;
  @define-color warning_bg_color #e59645;
  @define-color error_bg_color #f07171;

  @define-color accent_color oklab(from @accent_bg_color min(l, 0.5) a b);
  @define-color destructive_color oklab(from @destructive_bg_color min(l, 0.5) a b);
  @define-color success_color oklab(from @success_bg_color min(l, 0.5) a b);
  @define-color warning_color oklab(from @warning_bg_color min(l, 0.5) a b);
  @define-color error_color oklab(from @error_bg_color min(l, 0.5) a b);

  @define-color accent_color oklab(from @accent_bg_color max(l, 0.85) a b);
  @define-color destructive_color oklab(from @destructive_bg_color max(l, 0.85) a b);
  @define-color success_color oklab(from @success_bg_color max(l, 0.85) a b);
  @define-color warning_color oklab(from @warning_bg_color max(l, 0.85) a b);
  @define-color error_color oklab(from @error_bg_color max(l, 0.85) a b);

  /* Window */
  @define-color window_bg_color #5c6166;
  @define-color window_fg_color #ffffff;

  /* Views - e.g. text view or tree view */
  @define-color view_bg_color #5c6166;
  @define-color view_fg_color #ffffff;

  /* Header bar, search bar, tab bar */
  @define-color headerbar_bg_color #6b7d8f;
  @define-color headerbar_fg_color #ffffff;
  @define-color headerbar_border_color #ffffff;
  @define-color headerbar_shade_color rgba(107, 125, 143, 0.36);
  @define-color headerbar_darker_shade_color rgba(92, 97, 102, 0.90);

  /* Split pane views */
  @define-color sidebar_bg_color #6b7d8f;
  @define-color sidebar_fg_color #ffffff;
  @define-color sidebar_backdrop_color #828e9f;
  @define-color sidebar_shade_color rgba(107, 125, 143, 0.25);
  @define-color sidebar_border_color rgba(107, 125, 143, 0.36);

  @define-color secondary_sidebar_bg_color #828e9f;
  @define-color secondary_sidebar_fg_color #ffffff;
  @define-color secondary_sidebar_backdrop_color #828e9f;
  @define-color secondary_sidebar_shade_color rgba(107, 125, 143, 0.25);
  @define-color secondary_sidebar_border_color rgba(107, 125, 143, 0.36);

  /* Cards, boxed lists */
  @define-color card_bg_color rgba(252, 252, 252, 0.08);
  @define-color card_fg_color #ffffff;
  @define-color card_shade_color rgba(107, 125, 143, 0.36);

  /* Dialogs */
  @define-color dialog_bg_color #6b7d8f;
  @define-color dialog_fg_color #ffffff;

  /* Popovers */
  @define-color popover_bg_color #6b7d8f;
  @define-color popover_fg_color #ffffff;
  @define-color popover_shade_color rgba(107, 125, 143, 0.25);

  /* Thumbnails */
  @define-color thumbnail_bg_color #828e9f;
  @define-color thumbnail_fg_color #ffffff;

  /* Miscellaneous */
  @define-color shade_color rgba(107, 125, 143, 0.25);
  @define-color scrollbar_outline_color rgba(92, 97, 102, 0.95);
}

:root {
  --standalone-color-oklab: min(l, 0.5) a b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --standalone-color-oklab: max(l, 0.85) a b;
  }
}

:root {
  --accent-blue: #22a4e6;
  --accent-teal: #4cbf99;
  --accent-green: #86b300;
  --accent-yellow: #eba400;
  --accent-orange: #fa8532;
  --accent-red: #e65050;
  --accent-pink: #f2a191;
  --accent-purple: #a37acc;
  --accent-slate: #6b7d8f;

  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;
  --accent-color: oklab(
    from var(--accent-bg-color) var(--standalone-color-oklab)
  );

  --destructive-bg-color: @destructive_bg_color;
  --destructive-fg-color: @destructive_fg_color;
  --destructive-color: oklab(
    from var(--destructive-bg-color) var(--standalone-color-oklab)
  );

  --success-bg-color: @success_bg_color;
  --success-fg-color: @success_fg_color;
  --success-color: oklab(
    from var(--success-bg-color) var(--standalone-color-oklab)
  );

  --warning-bg-color: @warning_bg_color;
  --warning-fg-color: @warning_fg_color;
  --warning-color: oklab(
    from var(--warning-bg-color) var(--standalone-color-oklab)
  );

  --error-bg-color: @error_bg_color;
  --error-fg-color: @error_fg_color;
  --error-color: oklab(
    from var(--error-bg-color) var(--standalone-color-oklab)
  );

  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;

  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;

  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-border-color: @headerbar_border_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;
  --headerbar-shade-color: @headerbar_shade_color;
  --headerbar-darker-shade-color: @headerbar_darker_shade_color;

  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-border-color: @sidebar_border_color;
  --sidebar-shade-color: @sidebar_shade_color;

  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;

  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --card-shade-color: @card_shade_color;

  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;

  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --popover-shade-color: @popover_shade_color;

  --thumbnail-bg-color: @thumbnail_bg_color;
  --thumbnail-fg-color: @thumbnail_fg_color;

  --shade-color: @shade_color;
  --scrollbar-outline-color: @scrollbar_outline_color;

  --active-toggle-bg-color: #ffffff;
  --active-toggle-fg-color: #5c6166;

  --overview-bg-color: #fafafa;
  --overview-fg-color: #5c6166;
}

@media (prefers-color-scheme: dark) {
  :root {
    --active-toggle-bg-color: rgba(252, 252, 252, 0.2);
    --active-toggle-fg-color: #ffffff;

    --overview-bg-color: #828e9f;
    --overview-fg-color: #ffffff;
  }
}


:root {
  --border-opacity: 15%;
  --dim-opacity: 55%;
  --disabled-opacity: 50%;
  --border-color: color-mix(in srgb, currentColor var(--border-opacity), transparent);
  --headerbar-border-color-computed: color-mix(in srgb, var(--headerbar-border-color) var(--border-opacity), transparent);
  --link-color: var(--accent-color);
  --link-visited-color: color-mix(in srgb, var(--accent-color) 80%, var(--view-fg-color));
  --hover-color: color-mix(in srgb, currentColor 7%, transparent);
  --active-color: color-mix(in srgb, currentColor 16%, transparent);
  --selected-color: color-mix(in srgb, currentColor 10%, transparent);
  --selected-hover-color: color-mix(in srgb, currentColor 13%, transparent);
  --selected-active-color: color-mix(in srgb, currentColor 19%, transparent);
  --view-hover-color: color-mix(in srgb, currentColor 4%, transparent);
  --view-active-color: color-mix(in srgb, currentColor 8%, transparent);
  --view-selected-color: color-mix(in srgb, var(--accent-bg-color) 25%, transparent);
  --view-selected-hover-color: color-mix(in srgb, var(--accent-bg-color) 32%, transparent);
  --view-selected-active-color: color-mix(in srgb, var(--accent-bg-color) 39%, transparent);
}
